<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'Adicionar novo pagamento', new_payment_path, method: :get,
                                                      class:'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <section id='payments'>
        <%= render 'payments' %>
      </section>
    </div>
  </div>
</div>
