<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Tem certeza?</h4>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  Deletar o gasto <%= @expense.description %>?
  </div>
  <div class="modal-footer">
    <%= link_to "Sim", expense_path(@expense), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "Cancelar", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>
