<div class="panel panel-default" align='right'>
  <div class="panel-body">
    <%= button_to 'Adicionar novo recebimento', new_receipt_path,
                                      method: :get, class: "btn btn-success" %>
  </div>
  <section id='receipts'>
    <%= render 'receipts' %>
  </section>
</div>
<div id="receipt-modal" class="modal fade"></div>
