<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'Adicionar novo recebimento', new_receipt_path,
                                      method: :get, class: "btn btn-success" %>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <section id='receipts'>
        <%= render 'receipts' %>
      </section>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Totais</strong>
      </div>
      <div class="panel-body">
        <section id='total_receipts'>
        <%= render 'total_receipt' %>
      </section>
      </div>
    </div>
  </div>
</div>
<div id="receipt-modal" class="modal fade"></div>
